

@font-face {
  font-family: 'custom_110986';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/6643b55f2ee5c3003f812427_n4.ttf") format("truetype");
}



@font-face {
  font-family: 'custom_110993';
  font-style:  normal;
  font-weight: 500;
  src: url("../fonts/6643be45f261a90035be72ac_n5.ttf") format("truetype");
}

